$color-background: #dce0e8;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #7c7f93;
$color-meta: #8c8fa1;
$color-meta-code: lighten($color-meta, 10%);
$color-link: rgba(43, 188, 138, 1);
$color-text: #4c4f69;
$color-accent-3: #9ca0b0;
$color-accent-2: #8c8fa1;
$color-accent-1: #179299;
$color-quote: #40a02b;