// White
$color-background: #eff1f5;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
// Overlay 2
$color-border: #7c7f93;
// Overlay 1
$color-meta: #8c8fa1;
$color-meta-code: lighten($color-meta, 10%);
// Lavender
$color-link: #7287fd;
// Text
$color-text: #4c4f69;
// Overlay 0
$color-accent-3: #9ca0b0;
// Overlay 1
$color-accent-2: #8c8fa1;
// Teal
$color-accent-1: #40a02b;
// Green
$color-quote: #179299;