@font-face {
  font-style: normal;
  font-family: "Montserrat";
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../lib/Montserrat/fonts/webfonts/Montserrat-Regular.woff2") format("woff2"), url("../lib/Montserrat/fonts/webfonts/Montserrat-Regular.woff") format("woff"), url("../lib/Montserrat/fonts/eot/Montserrat-Regular.eot") format("embedded-opentype"), url("../lib/Montserrat/fonts/ttf/Montserrat-Regular.ttf") format("truetype");
};