<style>
    .hackthebox-badge {
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .hackthebox-badge iframe {
        border: 0;
        overflow: hidden;
        display: block;
    }
</style>
<div class="hackthebox-badge">
    <a href="https://app.hackthebox.com/profile/2241541" target="_blank" rel="noopener noreferrer">
        <img src="https://www.hackthebox.eu/badge/image/2241541" alt="HackTheBox Badge" style="width: 327px; height: 74.32px;">
    </a>
</div>
