{{ $lastfm_user := "thweenty7" }} {{/* Replace with your Last.fm username */}}
{{ $lastfm_api_key := "77b62fb7f97cba21d533b1eb39ec6ee5" }} {{/* Replace with your Last.fm API key */}}

{{ $url := printf "http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=%s&api_key=%s&format=json&limit=1" $lastfm_user $lastfm_api_key }}

{{ with getJSON $url }}
  {{ with .recenttracks.track }}
    {{ $track := index . 0 }} {{/* Get the first track */}}
    {{ $artist := $track.artist.#text }} {{/* Access artist name */}}
    {{ $trackName := $track.name.#text }} {{/* Access track name */}}

    <p>
      {{ $artist }} - {{ $trackName }}
    </p>
  {{ else }}
    <p>No recent tracks found.</p>
  {{ end }}
{{ else }}
  <p>Error fetching data from Last.fm.</p>
{{ end }}