<style>
    .tryhackme-badge {
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .tryhackme-badge iframe {
        border: 0;
        overflow: hidden;
        display: block;
    }
</style>
<div class="tryhackme-badge">    {{ with os.ReadFile "static/badges/thm-badge.html" }}
        <div style="border: none; width: 100%; height: 84px; overflow: hidden;">
            {{ . | safeHTML }}
        </div>
    {{ else }}
        <iframe 
            src="https://tryhackme.com/api/v2/badges/public-profile?userPublicId=3664209" 
            style="border: none; width: 100%; height: 84px; overflow: hidden;"
            scrolling="no"
            frameborder="0">
        </iframe>
    {{ end }}</div>
